<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>property</key>
		<string>EYE1</string>
		<key>name</key>
		<string>大きな目</string>
		<key>id</key>
		<string>0</string>
	</dict>
	<dict>
		<key>property</key>
		<string>EYE2</string>
		<key>name</key>
		<string>ぱっちり二重</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>property</key>
		<string>EYE3</string>
		<key>name</key>
		<string>奥二重</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>property</key>
		<string>EYE4</string>
		<key>name</key>
		<string>一重</string>
		<key>id</key>
		<string>3</string>
	</dict>
	<dict>
		<key>property</key>
		<string>EYE5</string>
		<key>name</key>
		<string>たれ目</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<dict>
		<key>property</key>
		<string>EYE6</string>
		<key>name</key>
		<string>メガネ</string>
		<key>id</key>
		<string>5</string>
	</dict>
	<dict>
		<key>property</key>
		<string>NOSE</string>
		<key>name</key>
		<string>高い鼻</string>
		<key>id</key>
		<string>6</string>
	</dict>
	<dict>
		<key>property</key>
		<string>SKIN1</string>
		<key>name</key>
		<string>きれいな肌</string>
		<key>id</key>
		<string>7</string>
	</dict>
	<dict>
		<key>property</key>
		<string>TOOTH1</string>
		<key>name</key>
		<string>白い歯</string>
		<key>id</key>
		<string>8</string>
	</dict>
	<dict>
		<key>property</key>
		<string>TOOTH2</string>
		<key>name</key>
		<string>歯並び</string>
		<key>id</key>
		<string>9</string>
	</dict>
	<dict>
		<key>property</key>
		<string>TOOTH3</string>
		<key>name</key>
		<string>八重歯</string>
		<key>id</key>
		<string>10</string>
	</dict>
	<dict>
		<key>property</key>
		<string>DIMPLE</string>
		<key>name</key>
		<string>えくぼ</string>
		<key>id</key>
		<string>11</string>
	</dict>
	<dict>
		<key>property</key>
		<string>SKIN2</string>
		<key>name</key>
		<string>小麦色の肌</string>
		<key>id</key>
		<string>12</string>
	</dict>
	<dict>
		<key>property</key>
		<string>FACE1</string>
		<key>name</key>
		<string>笑顔</string>
		<key>id</key>
		<string>13</string>
	</dict>
	<dict>
		<key>property</key>
		<string>FACE2</string>
		<key>name</key>
		<string>童顔</string>
		<key>id</key>
		<string>14</string>
	</dict>
	<dict>
		<key>property</key>
		<string>VOICE</string>
		<key>name</key>
		<string>声</string>
		<key>id</key>
		<string>15</string>
	</dict>
	<dict>
		<key>property</key>
		<string>CLAVICLE</string>
		<key>name</key>
		<string>鎖骨</string>
		<key>id</key>
		<string>16</string>
	</dict>
	<dict>
		<key>property</key>
		<string>HAND</string>
		<key>name</key>
		<string>綺麗な手・指</string>
		<key>id</key>
		<string>17</string>
	</dict>
	<dict>
		<key>property</key>
		<string>FOOT</string>
		<key>name</key>
		<string>長い足</string>
		<key>id</key>
		<string>18</string>
	</dict>
	<dict>
		<key>property</key>
		<string>HAIR1</string>
		<key>name</key>
		<string>きれいな髪</string>
		<key>id</key>
		<string>19</string>
	</dict>
	<dict>
		<key>property</key>
		<string>LASH1</string>
		<key>name</key>
		<string>長いまつげ</string>
		<key>id</key>
		<string>20</string>
	</dict>
	<dict>
		<key>property</key>
		<string>FACE3</string>
		<key>name</key>
		<string>フェイスライン</string>
		<key>id</key>
		<string>21</string>
	</dict>
	<dict>
		<key>property</key>
		<string>SKIN3</string>
		<key>name</key>
		<string>色白</string>
		<key>id</key>
		<string>22</string>
	</dict>
	<dict>
		<key>property</key>
		<string>LIP1</string>
		<key>name</key>
		<string>アヒル口</string>
		<key>id</key>
		<string>23</string>
	</dict>
	<dict>
		<key>property</key>
		<string>LIP2</string>
		<key>name</key>
		<string>唇</string>
		<key>id</key>
		<string>24</string>
	</dict>
	<dict>
		<key>property</key>
		<string>EYEBLOW</string>
		<key>name</key>
		<string>眉毛</string>
		<key>id</key>
		<string>25</string>
	</dict>
	<dict>
		<key>property</key>
		<string>HAIR2</string>
		<key>name</key>
		<string>黒髪</string>
		<key>id</key>
		<string>26</string>
	</dict>
	<dict>
		<key>property</key>
		<string>FACE4</string>
		<key>name</key>
		<string>小顔</string>
		<key>id</key>
		<string>27</string>
	</dict>
	<dict>
		<key>property</key>
		<string>NAPE</string>
		<key>name</key>
		<string>うなじ</string>
		<key>id</key>
		<string>28</string>
	</dict>
	<dict>
		<key>property</key>
		<string>LIMBS</string>
		<key>name</key>
		<string>細い手足</string>
		<key>id</key>
		<string>29</string>
	</dict>
</array>
</plist>
