<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>property</key>
		<string>MALE1</string>
		<key>name</key>
		<string>男性がすべて払う</string>
		<key>id</key>
		<string>0</string>
	</dict>
	<dict>
		<key>property</key>
		<string>MALE2</string>
		<key>name</key>
		<string>男性が多めに払う</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>property</key>
		<string>SHARE</string>
		<key>name</key>
		<string>割り勘</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>property</key>
		<string>DISCUSS</string>
		<key>name</key>
		<string>相手と相談</string>
		<key>id</key>
		<string>3</string>
	</dict>
</array>
</plist>
