<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>property</key>
		<string>GRADUATED</string>
		<key>name</key>
		<string>卒業</string>
		<key>id</key>
		<string>0</string>
	</dict>
	<dict>
		<key>property</key>
		<string>DROPOUT</string>
		<key>name</key>
		<string>中退</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>property</key>
		<string>ENROLL</string>
		<key>name</key>
		<string>在学</string>
		<key>id</key>
		<string>2</string>
	</dict>
</array>
</plist>
