<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>property</key>
		<string>MON</string>
		<key>name</key>
		<string>月</string>
		<key>id</key>
		<string>0</string>
	</dict>
	<dict>
		<key>property</key>
		<string>TUE</string>
		<key>name</key>
		<string>火</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>property</key>
		<string>WED</string>
		<key>name</key>
		<string>水</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>property</key>
		<string>THU</string>
		<key>name</key>
		<string>木</string>
		<key>id</key>
		<string>3</string>
	</dict>
	<dict>
		<key>property</key>
		<string>FRI</string>
		<key>name</key>
		<string>金</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<dict>
		<key>property</key>
		<string>SAT</string>
		<key>name</key>
		<string>土</string>
		<key>id</key>
		<string>5</string>
	</dict>
	<dict>
		<key>property</key>
		<string>SUN</string>
		<key>name</key>
		<string>日</string>
		<key>id</key>
		<string>6</string>
	</dict>
	<dict>
		<key>property</key>
		<string>NATIONAL</string>
		<key>name</key>
		<string>祝日</string>
		<key>id</key>
		<string>7</string>
	</dict>
	<dict>
		<key>property</key>
		<string>IRREGULAR</string>
		<key>name</key>
		<string>不定期</string>
		<key>id</key>
		<string>8</string>
	</dict>
</array>
</plist>
