<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>property</key>
		<string>SINGLE</string>
		<key>name</key>
		<string>一人暮らし</string>
		<key>id</key>
		<string>0</string>
	</dict>
	<dict>
		<key>property</key>
		<string>FRIEND</string>
		<key>name</key>
		<string>友達と一緒</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>property</key>
		<string>PET</string>
		<key>name</key>
		<string>ペットと一緒</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>property</key>
		<string>PARENT</string>
		<key>name</key>
		<string>実家暮らし</string>
		<key>id</key>
		<string>3</string>
	</dict>
	<dict>
		<key>property</key>
		<string>OTHER</string>
		<key>name</key>
		<string>その他</string>
		<key>id</key>
		<string>4</string>
	</dict>
</array>
</plist>
