<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>property</key>
		<string>ONLINE</string>
		<key>name</key>
		<string>オンライン</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>property</key>
		<string>DAY</string>
		<key>name</key>
		<string>24時間以内</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>property</key>
		<string>THREE_DAYS</string>
		<key>name</key>
		<string>3日以内</string>
		<key>id</key>
		<string>3</string>
	</dict>
	<dict>
		<key>property</key>
		<string>WEEK</string>
		<key>name</key>
		<string>1週間以内</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<dict>
		<key>property</key>
		<string>OTHER</string>
		<key>name</key>
		<string>それ以上</string>
		<key>id</key>
		<string>-1</string>
	</dict>
</array>
</plist>
