<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>property</key>
		<string>NONE</string>
		<key>name</key>
		<string>なし</string>
		<key>id</key>
		<string>0</string>
	</dict>
	<dict>
		<key>property</key>
		<string>DIVORCED</string>
		<key>name</key>
		<string>あり（離婚）</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>property</key>
		<string>WIDOWED</string>
		<key>name</key>
		<string>あり（死別）</string>
		<key>id</key>
		<string>2</string>
	</dict>
</array>
</plist>
