<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>property</key>
		<string>SINGLE</string>
		<key>name</key>
		<string>独身</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>property</key>
		<string>DATING</string>
		<key>name</key>
		<string>交際中</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>property</key>
		<string>ENGAGED</string>
		<key>name</key>
		<string>婚約中</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>property</key>
		<string>MARRIED</string>
		<key>name</key>
		<string>結婚</string>
	</dict>
</array>
</plist>
