<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>プロフィール見ていただいてありがとうございます。
●●に住んでいます。■■才です。
◆◆の仕事をしています。

趣味は○○です。特に□□が好きです。

たまたまFacebookでこのサービスを知りました。
ゼクシィなら安心かなと思い、登録しました。

◎◎ような恋愛が理想です。
お互い尊敬しあい、支えあえる関係になれたらいいですね。

少しでも気になっていただけたら、ぜひいいね！してください。
よろしくお願いします。</string>
		<string>はじめまして。
●●で■■をしている◆◆歳です。
プロフィールを見ていただき、ありがとうございます。

オンとオフはしっかり切り換えているので、
休みの日には趣味の○○をして過ごしています。

出来れば、趣味が合う人と出会えたら嬉しいです。

将来的には何でも言いあえて、お互いに支えあう関係に
なっていけたらいいなと思っています。

よろしくお願いします。</string>
		<string>こんばんは、初めまして！
●●出身、現在は■■に住んでいる◆◆歳です。
仕事は◎◎関係です。

今までは仕事が忙しく、恋愛や結婚をあまり考えていませんでしたが、
最近真剣に結婚したい！と思えるようになり、
一緒に時間を共有できる人が出来たらいいなと思い、登録しました。

趣味は○○で、特に□□が大好きです！
お互いが好きなことを一緒に楽しめたらいいですね＾＾

性格は友達や同僚からは◇◇と言われています。◎◎系なのかな？（笑）
詳しくはメールしていく中でゆっくりと知ってもらえたらと思います。</string>
		<string>こんにちは、はじめまして。
プロフィールを見ていただきありがとうございます。
●●在住、■■の仕事をしている◆◆歳です。

仕事柄、なかなか出会いがなく、
ゼクシィならきっと良い出会いがあると思い登録してみました。

今までこれと言った趣味はなかったのですが、
最近同僚に誘われて、○○と□□を始めました。

基本的に何でも興味を持つ方なので、
新しいことに何でもチャレンジする性格です。

まずは気軽に「いいね！」していただけると
とても嬉しいです！

よろしくお願いします。</string>
		<string>はじめまして！
●●で■■関係の仕事をしている◆◆歳です。

家と職場の往復のみで、職場での出会いもほとんどないので
登録してみました。

休みの日は、○○をしたり、□□に行ったり、
たまには友達と旅行に行ったりしています。

仕事は△△が休みなので、一緒にどこか出掛けたり、
美味しいものを食べに行ったり出来たらいいですね。
○○好きなので、□□に行くのもいいかも！

◎◎のような関係が理想です。
よろしくお願いします。</string>
		<string>こんばんは、初めまして！
プロフィールご覧いただき、ありがとうございます！

●●で■■の仕事をしている◆◆歳です。

仕事で出張が多く、○○に一度のペースで海外に行っています。
大変な仕事ではありますが、やりがいがあるので
仕事はとても楽しいです。

性格は□□で、周りからは△△とよく言われています。
今まで100％当てられるくらい◎◎型なので、
社交的で明るいっていうのもあるのでしょうね。

休日は○○で、□□をして過ごすことが多いです。

お互いの価値観を尊重し、一緒の時間を楽しく過ごせる
気の合う方、真剣にお付き合いできる方と巡り会えたら
嬉しいです。

よろしくお願いします。</string>
	</array>
	<array>
		<string>プロフィール見ていただいてありがとうございます！
●●に住んでいます。■■才です。
◆◆の仕事をしています。

○○が好きで、休日はよく□□をしたり、◇◇をしたりしています。

友達から聞いて、このサービスを知りました。
ゼクシィなら、素敵な出会いがあるかもと期待しています（笑）

◎◎ような恋愛が理想です。
◇◇に一緒に行けたらいいですね♪

まずはメッセージから仲良くなれたら嬉しいです。
よろしくお願いします！</string>
		<string>こんにちは！ はじめまして☆
●●で◆◆の仕事をしている■■といいます。

仕事柄、なかなか良い人との出会いがなく、
たまたまfacebookでこのサイトを見つけたので登録してみました！

趣味は○○なので、
一緒に楽しめる人と出会えたらいいなって思ってます♪

旅行も好きで、◎◎、◎◎、◎◎などに行ったことがあります。
もっとたくさんの地域を見てみたいので、これからも
色んなところに行ってみようと思ってます。

真剣交際を考えている方と仲良くなれたら嬉しいです！
よろしくお願いします。</string>
		<string>はじめまして！　●●で◆◆の仕事をしている■■歳です。
プロフィールを見ていただき、ありがとうございます&lt;(_ _)&gt;

私の趣味は、○○と□□で、最近特に好きなのは◇◇です。

休日には、◇◇をして過ごすことが多いです。
◎◎で◎◎をしたり、◎◎に行ったりしています。

一緒にいて居心地の良い方、◇◇な方が理想です。
何か共通の趣味が持てたら最高ですね♪

まずはお友達から、よろしくおねがいします。</string>
		<string>こんばんは、初めまして☆
●●で◆◆の仕事をしています。
見た目◎◎そうですが、実は◎◎です（笑）

家にいる時は、映画を観たり、本を読んだりしています。
映画は特に■■が好きです！

わりと好奇心旺盛なので、もし、趣味がちょっと違ったとしても、
私の知らないことを教えて欲しいです♪

普段はなかなか良い出会いがなく、一生のパートナーを探しています！

まずはメールから、よろしくお願いします。</string>
		<string>はじめまして。
まだ始めたばかりで、使い方とか良くわかっていませんが、
ステキな方に出会えたらいいなと思って登録してみました！

私は■■出身で、現在は●●で◆◆の仕事をしています。

性格は○○で、周りからは□□とよく言われています（笑）

趣味は◇◇なので、一緒に楽しめたらいいですね＾＾

まずはメールから少しずつ仲良くなっていって、
いつか◎◎に一緒に行けたらいいなぁ…。

よろしくお願いします！！</string>
		<string>初めまして！
プロフィール、見ていただきありがとうございます！！

●●で◆◆の仕事をしている■■歳です。
今はペットと暮らしています♪

お休みの日は、ペットと一緒にお散歩＆カフェに行ったり、
ヨガで心をリラックスさせたり、
家で映画を観ながら寛いだりしています。

たまにはアクティブなこともしてみたいと思っているので、
連れ出してくれる人がいいかな(^ー^* )

まずはメッセージで仲良くなれたらうれしいです。
よろしくお願いします。</string>
	</array>
</array>
</plist>
