<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>property</key>
		<string>OPTION1</string>
		<key>name</key>
		<string>その他</string>
		<key>id</key>
		<string>0</string>
	</dict>
	<dict>
		<key>property</key>
		<string>OPTION2</string>
		<key>name</key>
		<string>長女</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>property</key>
		<string>OPTION3</string>
		<key>name</key>
		<string>次女</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>property</key>
		<string>OPTION4</string>
		<key>name</key>
		<string>三女</string>
		<key>id</key>
		<string>3</string>
	</dict>
	<dict>
		<key>property</key>
		<string>OPTION5</string>
		<key>name</key>
		<string>長男</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<dict>
		<key>property</key>
		<string>OPTION6</string>
		<key>name</key>
		<string>次男</string>
		<key>id</key>
		<string>5</string>
	</dict>
	<dict>
		<key>property</key>
		<string>OPTION7</string>
		<key>name</key>
		<string>三男</string>
		<key>id</key>
		<string>6</string>
	</dict>
</array>
</plist>
